body {
  background-color: #000099;
  text-align: center;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 5px 5px #000;
}

h1 {
  font-size: 48px;
}

#happy-bday {
  font-size: 48px;
}
